body {
    margin : 0;
  }
  
  .rondB {
    height: 20vh;
    width: 20vh;
  
    
    flex: 1;
  }
  
  .rondB div {
    height: 80%;
    width: 80%;
    border: 6px solid;
    border-color: lightgray;
    background: radial-gradient( #0004FF 0%, #06006B 60%);
    margin: 10%;
    border-radius: 50%;
  }
  
  header {
    width: 100vw;
    height: 20vh;
    top: 0;
    background-color: red;
    display: flex;
    flex-direction: row;
  
  }
  
  .menu {
    display: flex;
    flex-direction: row;
  }
  
  .barre {
    padding-top: 2vh;
    padding-left: 5vw;
    width: 13.8vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
  }
  
  .rondR {
    border-color: black;
    border: 1px solid;
    border-radius: 50%;
    background: radial-gradient( #FF0202 0%, #7D0303 60%);
    height: 100%;
    width: 28%;
    
  }
  .rondJ {
    border-color: black;
    border-radius: 50%;
    border: 1px solid;
    background: radial-gradient( #F6FF03 0%, #948002 60%);
    height: 100%;
    width: 28%;
    margin-left: 5%;
  
  }
  
  .rondV {
    border-color: black;
    border-radius: 50%;
    border: 1px solid;
    background: radial-gradient( #0BBF06 0%, #013E0F 60%);
    height: 100%;
    width: 28%;
    margin-left: 5%;
  }
  
  
  .sep{
    width: 5vw;
    height: 15vh;
    margin-top: 10vh;
    padding-left:  20vw;
    display: flex;
    border-top: 20vh solid #ff0000;
    border-right: 10vw solid #750000;
  
  }
  
  
  
  .bouton {
    width: 43vw;
    height: 50%;
    margin-top: 10vh;
    display: flex;
    background-color: #750000;

    align-items: center;
  }
  
  .center {
    
    background-color: coral;
  }
  .centerF {
    display: flex;
    height: 70vh;
    width: 100vw;
    flex-direction: row;
    background-color: aqua;
  }
  
  .Cg {
    width: 10vw;
    height: 100%;
    background-color: #750000;
    flex: 1;
  }
  
  .Cc {
    width: 80vw;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Cd {
    width: 10vw;
    height: 100%;
    background-color: #750000;
  }
  
  .end{
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: #750000;
  }
  
  .end div{
    width: 100%;
    height: 100%;
    flex:1;
    background-color: #750000;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    margin: 2% 0% 2% 0%;
    padding: 0 5% 2% 5%;
    background-color: aliceblue;
  }
  
  
  img {
    padding-top: 2%;
    height: 60%;
    animation: myAnim 1s ease 0s 1 normal forwards;
  }
  
  
  
  
  p {
    width: 70%;
  }
  
  @keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
  }
  
  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  }
  

  
  .myButton {
    margin-left: 10%;
      box-shadow:inset 0px 1px 0px 0px #54a3f7;
      background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
      background-color:#007dc1;
      border-radius:3px;
      border:1px solid #124d77;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:13px;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #154682;
  }
  .myButton:hover {
      background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
      background-color:#0061a7;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }



  .mainMenu {
    min-width: 25vw;
    min-height: 5vh;
    margin-top: 10vh;
    text-align: center  ;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.mainMenu:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.mainMenu:active {
	position:relative;
	top:1px;
}

  
.user{
  display: flex;
  flex-direction: row;
  border: 1px solid;
}

.user h3{
  margin-left:0.5vw ;
  width: 20vw;
  height: 100%;
}